<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Desafio 3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Enunciado do desafio 3</h1>
    <h2>Converta uma temperatura de Celsius para Fahrenheit.</h2>

    <form>
      <label for="conversao">Digite o valor em Celsius</label>
      <input
        id="a_converter"
        type="number"
        placeholder="Ex: 45.1 ou 45,1"
        required
      />
      <br />
      <br />
      <button type="button" onclick="conversaoCelsius()">Converter</button>
    </form>
    <br />

    <h2>Resultado</h2>
    <p id="resultado"></p>

    <a href="../../index.html">Voltar</a>
    
    <script src="main.js"></script>
  </body>
</html>
