<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Desafio 4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <h1>Enunciado do desafio 4</h1>
    <h2>Determine se um número é primo.</h2>

    <form id="form">
      <label for="form">Digite o valor a ser verificado</label>
      <input id="value" type="number" required />
      <br />
      <br />
      <button type="submit">Verificar</button>
    </form>

    <h2>Resultado</h2>
    <p id="viewResult"></p>

    <a href="../../index.html">Voltar</a>

    <script src="main.js"></script>
  </body>
</html>
