<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Desafio 18</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <h1>Enunciado do desafio 18</h1>
    <h2>Substitua espaços em branco em uma string por - (hífen).</h2>
    
    <form>
        <label>Digite a sua frase</label>
        <input type="text" id="frase" required>
        <button type="button" onclick="substituirEspaco()">Substituir</button>
    </form>

    <h2>Resultado</h2>
    <p id="resultado"></p>

    <script src='main.js'></script>
</body>
</html>